@font-face {
  font-family: 'QBackslash';
  src: url("/_Resources/Static/Packages/CodeQ.LoginTheme/img/q-backslash-bold-bold-webfont.woff2") format("woff2"), url("/_Resources/Static/Packages/CodeQ.LoginTheme/img/q-backslash-bold-bold-webfont.woff") format("woff"); }

@font-face {
  font-family: 'QBackslash';
  src: url("/_Resources/Static/Packages/CodeQ.LoginTheme/img/q-backslash-black-black-webfont.woff2") format("woff2"), url("/_Resources/Static/Packages/CodeQ.LoginTheme/img/q-backslash-black-black-webfont.woff") format("woff");
  font-weight: bold; }

/* line 15, /Users/rolandschuetz/Documents/Projects/TheGuesthouseVienna/Packages/Application/CodeQ.LoginTheme/Resources/Public/scss/_layout.scss */
body {
  background-image: url("/_Resources/Static/Packages/CodeQ.LoginTheme/img/adi-goldstein-EUsVwEOsblE-unsplash.jpg") !important; }

/* line 24, /Users/rolandschuetz/Documents/Projects/TheGuesthouseVienna/Packages/Application/CodeQ.LoginTheme/Resources/Public/scss/_layout.scss */
.neos .neos-login-box {
  overflow: visible !important; }

/* line 28, /Users/rolandschuetz/Documents/Projects/TheGuesthouseVienna/Packages/Application/CodeQ.LoginTheme/Resources/Public/scss/_layout.scss */
.neos-login-box {
  width: 310px !important;
  box-sizing: border-box !important;
  background: white !important;
  padding: 28px !important; }
  /* line 34, /Users/rolandschuetz/Documents/Projects/TheGuesthouseVienna/Packages/Application/CodeQ.LoginTheme/Resources/Public/scss/_layout.scss */
  .neos-login-box:before, .neos-login-box:after {
    /* remove blur effect */
    display: none !important; }
  /* line 39, /Users/rolandschuetz/Documents/Projects/TheGuesthouseVienna/Packages/Application/CodeQ.LoginTheme/Resources/Public/scss/_layout.scss */
  .neos-login-box header,
  .neos-login-box .neos-login-heading {
    font-size: 0 !important;
    text-align: left !important;
    margin-bottom: 10px !important; }
    /* line 46, /Users/rolandschuetz/Documents/Projects/TheGuesthouseVienna/Packages/Application/CodeQ.LoginTheme/Resources/Public/scss/_layout.scss */
    .neos-login-box header strong, .neos-login-box header:before,
    .neos-login-box .neos-login-heading strong,
    .neos-login-box .neos-login-heading:before {
      color: black !important;
      font-family: 'QBackslash' !important;
      text-transform: uppercase !important;
      font-weight: bold !important;
      font-size: 12px !important;
      letter-spacing: 1px !important; }
    /* line 56, /Users/rolandschuetz/Documents/Projects/TheGuesthouseVienna/Packages/Application/CodeQ.LoginTheme/Resources/Public/scss/_layout.scss */
    .neos-login-box header:before,
    .neos-login-box .neos-login-heading:before {
      content: "/ Login: " !important; }

/* line 62, /Users/rolandschuetz/Documents/Projects/TheGuesthouseVienna/Packages/Application/CodeQ.LoginTheme/Resources/Public/scss/_layout.scss */
.neos-login-box-logo {
  margin: 15px 0 32px 0 !important; }
  /* line 65, /Users/rolandschuetz/Documents/Projects/TheGuesthouseVienna/Packages/Application/CodeQ.LoginTheme/Resources/Public/scss/_layout.scss */
  .neos-login-box-logo img {
    display: none !important; }
  /* line 69, /Users/rolandschuetz/Documents/Projects/TheGuesthouseVienna/Packages/Application/CodeQ.LoginTheme/Resources/Public/scss/_layout.scss */
  .neos-login-box-logo:after {
    background-image: url("/_Resources/Static/Packages/CodeQ.LoginTheme/img/CQ_LOGO_NEOS.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    width: 100%;
    height: 57px;
    content: ''; }

/* line 93, /Users/rolandschuetz/Documents/Projects/TheGuesthouseVienna/Packages/Application/CodeQ.LoginTheme/Resources/Public/scss/_layout.scss */
.neos-controls {
  border: 1px solid black !important;
  height: 27px !important;
  color: #7bbd8f !important;
  margin-bottom: 10px !important; }
  /* line 99, /Users/rolandschuetz/Documents/Projects/TheGuesthouseVienna/Packages/Application/CodeQ.LoginTheme/Resources/Public/scss/_layout.scss */
  .neos-controls input {
    min-width: 100% !important;
    height: 26px !important;
    padding: 7px !important;
    font-size: 14px !important;
    font-family: Cambria, Georgia, serif !important;
    font-style: italic !important;
    vertical-align: baseline !important;
    line-height: 1; }
    /* line 108, /Users/rolandschuetz/Documents/Projects/TheGuesthouseVienna/Packages/Application/CodeQ.LoginTheme/Resources/Public/scss/_layout.scss */
    .neos-controls input::-webkit-input-placeholder {
      color: #7bbd8f !important; }

/* line 114, /Users/rolandschuetz/Documents/Projects/TheGuesthouseVienna/Packages/Application/CodeQ.LoginTheme/Resources/Public/scss/_layout.scss */
.neos-actions {
  height: 0px !important; }
  /* line 117, /Users/rolandschuetz/Documents/Projects/TheGuesthouseVienna/Packages/Application/CodeQ.LoginTheme/Resources/Public/scss/_layout.scss */
  .neos-actions button.neos-login-btn {
    background: #7bbd8f !important;
    font-family: 'QBackslash' !important;
    text-transform: uppercase !important;
    font-weight: bold !important;
    font-size: 12px !important;
    height: 26px !important;
    line-height: 26px !important;
    color: black !important;
    letter-spacing: 1px !important;
    transition-duration: .3s !important;
    border-radius: 0; }
    /* line 130, /Users/rolandschuetz/Documents/Projects/TheGuesthouseVienna/Packages/Application/CodeQ.LoginTheme/Resources/Public/scss/_layout.scss */
    .neos-actions button.neos-login-btn:hover {
      background: #4fa068 !important; }

@media (min-width: 1080px) {
  /* line 136, /Users/rolandschuetz/Documents/Projects/TheGuesthouseVienna/Packages/Application/CodeQ.LoginTheme/Resources/Public/scss/_layout.scss */
  .neos-login-footer {
    width: 45% !important; } }

/* line 141, /Users/rolandschuetz/Documents/Projects/TheGuesthouseVienna/Packages/Application/CodeQ.LoginTheme/Resources/Public/scss/_layout.scss */
.neos-login-footer p, .neos-login-footer a {
  color: black !important;
  text-shadow: none !important;
  font-size: 10px !important;
  line-height: 10px !important; }

/* line 151, /Users/rolandschuetz/Documents/Projects/TheGuesthouseVienna/Packages/Application/CodeQ.LoginTheme/Resources/Public/scss/_layout.scss */
.neos-login-main {
  -ms-flex-positive: 1; }
