
@font-face {
	font-family: 'QBackslash';
	src: url('/_Resources/Static/Packages/CodeQ.LoginTheme/img/q-backslash-bold-bold-webfont.woff2') format('woff2'),
		 url('/_Resources/Static/Packages/CodeQ.LoginTheme/img/q-backslash-bold-bold-webfont.woff') format('woff');
}

@font-face {
	font-family: 'QBackslash';
	src: url('/_Resources/Static/Packages/CodeQ.LoginTheme/img/q-backslash-black-black-webfont.woff2') format('woff2'),
		 url('/_Resources/Static/Packages/CodeQ.LoginTheme/img/q-backslash-black-black-webfont.woff') format('woff');
	 font-weight: bold;
}

body {
	@if $layout-type == 'studio-q' {
		background-image: url('/_Resources/Static/Packages/CodeQ.LoginTheme/img/SQ_Background.jpg') !important;
	}
	@if $layout-type == 'code-q' {
		background-image: url('/_Resources/Static/Packages/CodeQ.LoginTheme/img/adi-goldstein-EUsVwEOsblE-unsplash.jpg') !important;
	}
}

.neos .neos-login-box {
	overflow: visible !important;
}

.neos-login-box {
	width: 310px !important;
	box-sizing: border-box !important;
	background: white !important;
	padding: 28px !important;

	&:before,
	&:after {	/* remove blur effect */
		display: none !important;
	}

	header, // Neos 3.x
	.neos-login-heading { // Neos 4.x
		// hide "Neos Login"
		font-size: 0 !important;
		text-align: left !important;
		margin-bottom: 10px !important;

		strong,
		&:before {
			color: black !important;
			font-family: 'QBackslash' !important;
			text-transform: uppercase !important;
			font-weight: bold !important;
			font-size: 12px !important;
			letter-spacing: 1px !important;
		}

		&:before {
			content: "/ Login: " !important;
		}
	}
}

.neos-login-box-logo {
	margin: 15px 0 32px 0 !important;

	img {
		display: none !important;
	}

	&:after {
		@if $layout-type == 'studio-q' {
			background-image: url('/_Resources/Static/Packages/CodeQ.LoginTheme/img/SQ_CQ_LOGO_NEOS.png');
			background-size: 100% auto;
			background-repeat: no-repeat;
			background-position: center;
			display: inline-block;
			width: 100%;
			height: 75px;
			content: '';
		}
		@if $layout-type == 'code-q' {
			background-image: url('/_Resources/Static/Packages/CodeQ.LoginTheme/img/CQ_LOGO_NEOS.png');
			background-size: auto 100%;
			background-repeat: no-repeat;
			background-position: center;
			display: inline-block;
			width: 100%;
			height: 57px;
			content: '';
		}
	}
}

.neos-controls {
	border: 1px solid black !important;
	height: 27px !important;
	color: #7bbd8f !important;
	margin-bottom: 10px !important;

	& input {
		min-width: 100% !important;
		height: 26px !important;
		padding: 7px !important;
		font-size: 14px !important;
		font-family: Cambria, Georgia, serif !important;
		font-style: italic !important;
		vertical-align: baseline !important;
		line-height: 1; // necessary in safari for the password placeholder
		&::-webkit-input-placeholder{
			color: #7bbd8f !important;
		}
	}
}

.neos-actions {
	height: 0px !important;

	button.neos-login-btn {
		background: #7bbd8f !important;
		font-family: 'QBackslash' !important;
		text-transform: uppercase !important;
		font-weight: bold !important;
		font-size: 12px !important;
		height: 26px !important;
		line-height: 26px !important;
		color: black !important;
		letter-spacing: 1px !important;
		transition-duration: .3s !important;
		border-radius: 0;

		&:hover {
			background: #4fa068 !important;
		}
	}
}

.neos-login-footer {
	@media (min-width: 1080px) {
		width: 45% !important;
	}

		p ,a {
			color: black !important;
			text-shadow: none !important;
			font-size: 10px !important;
			line-height: 10px !important;
	}
}

//IE 10, the footer ( e.g. copyright thing ) doesn't stick to the bottom of the page.
// this fixes it
.neos-login-main {
	-ms-flex-positive: 1;
}
